
<form [formGroup]="newTaskForm" (ngSubmit)="onSubmit(newTaskForm.value)">

  <div>
    <label for="title">
      title
    </label>
    <input id="title" type="text" formControlName="title">
  </div>

  <div>
    <label for="description">
      description
    </label>
    <input id="description" type="text" formControlName="description">
  </div>

  <button class="button" type="submit">Add Task</button>

</form>


<ul class="list">
  <li *ngFor="let task of tasks" class="task">
    <input class="task__checkbox" type="checkbox" value="Create list">
    <span class="task__title">{{ task.title }}</span>
    <span class="task__description">{{  task.description}}</span>
    <button class="task__deleteButton" title="delete task"
            (click)="delete(task)">
      x
    </button>
  </li>
</ul>
