<div class="container">

  <form [formGroup]="newTaskForm" (ngSubmit)="onSubmit(newTaskForm.value)">

    <input id="title" type="text" formControlName="title" placeholder="title" />
    <input id="description" type="text" formControlName="description" placeholder="text">

    <button class="button" type="submit">
      <span>+</span>
      Add
    </button>

  </form>


  <div class="todoList_title">TODOS</div>
  <div class="list" cdkDropList (cdkDropListDropped)="drop($event)">
    <div *ngFor="let task of tasks" class="task" cdkDrag>
      <input class="task__checkbox" type="checkbox" value="Create list">
      <div class="task__item">
        <span *ngIf="task.title" class="task__title">{{ task.title }}</span>
        <span *ngIf="task.description" class="task__description">{{  task.description}}</span>
      </div>
      <button class="task__deleteButton" title="delete task"
              (click)="delete(task)">
        <i class="fa fa-trash"></i>
      </button>
    </div>
  </div>

</div>
