$green:#3ea85d;
$border-radius: 8px;

.container {
  width: 50%;
  margin: 0 auto;
  padding: 20px 0;

  @media (max-width: 1000px) {
    width: 70%;
  }

  @media (max-width: 426px) {
    width: 90%;
  }
}

form {
  display: flex;
  flex-direction: column;
  margin: 10px auto 20px;
  padding:20px;
  background: #f4f7f8;
  border-radius: $border-radius;

  button {
    display: flex;
    align-items: center;
    align-self: center;
    padding: 8px 45px;
    color: #FFF;
    background-color: $green;
    font-size: 18px;
    border-radius: $border-radius;
    border: 1px solid #3ac162;
    border-width: 1px 1px 3px;
    box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
    margin-bottom: 10px;
    outline: none;

    span {
      font-size: 34px;
      padding-right: 7px;
    }
  }

  button:hover {
    background-color: #3da05a;
  }
}

input {
  background: rgba(255,255,255,0.1);
  border:none;
  font-size: 16px;
  height: auto;
  margin: 0;
  outline: 0;
  padding: 15px;
  background-color: #e8eeef;
  box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
  margin-bottom: 20px;
}
input::placeholder {
  color: #8a97a0;
}
#description {
  border: 1px solid $green;
  border-radius: $border-radius;
  padding:  25px 15px;
}

.todoList_title {
  padding: 0 20px;
  background: #f4f7f8;
  border-radius: $border-radius $border-radius 0 0;
  color: #FFF;
  font-size: 20px;
  height: 60px;
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: $green;
}

.list {
  list-style-type: none;
  padding: 0;
  display: flex;
  margin: 0 auto 20px;
  flex-direction: column;
  font-size: 1em;
  justify-content: flex-start;
}

.task {
  display: flex;
  margin-top: 10px;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  background-color: #EEE;
  border-radius: 4px;
  padding: 10px 0;

  &__checkbox {
    margin-left: 20px;
    visibility: hidden;
    margin-bottom: 0px;
  }

  &__checkbox::before {
    content: '';
    font-size: 2rem;
    display: block;
    border: 1px solid #497081;
    border-radius: 50px;
    width: 1.25rem;
    height: 1.25rem;
    visibility: visible;
    cursor: pointer;
    transition: all .2s;
    box-sizing: border-box;
  }

  &__checkbox:checked::before {
    content: '\2713';
    border: none;
    font-size: 1.75rem;
    color: $green;
    position: relative;
    bottom: 12px;
    left: 2px;
  }

  &__item {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 0 20px;
  }

  &__title {
    cursor: pointer;
    margin-left: 10px;
    transition: color .4s;
    font-weight: 500;
    color: $green;
    padding-top: 5px;
  }

  &__description {
    cursor: pointer;
    padding-top: 5px;
    margin: 0 10px;
    transition: color .4s;
  }

  &__deleteButton {
    border: none;
    color: $green;
    padding: 12px 16px;
    font-size: 1.5rem;
    cursor: pointer;
    outline: none;
    font-weight: 300;
  }
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
  border: none;
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
